<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @answer_variant.body %>
</p>


<%= link_to 'Edit', edit_answer_variant_path(@answer_variant) %> |
<%= link_to 'Back', answer_variants_path %>
